

.navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;

}

.navlinks li {
  float: left;
  border-right: solid #bdc3c7 1px;
  font-size: 20px;
  padding: 5px;
  padding-right: 50px;
  color: white;
}

.Link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
}

.Link:hover {
  background-color: #e74c3c;
  color: black;
}

.hero-image-about {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2008/11/21/SedateGames460.jpg");
  height: 1000px;
}

.content-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-items {
}
