.menu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(25% - 20px);
  margin: 10px;
  border: solid red;
}

.thumbnail img {
  width: 100%;
}
